h1{
    color:rgb(244, 227, 7);
    font-family: 'Play', bold;
    font-weight: 400;
    font-size: 48;
    text-align: center;
    text-decoration: underline;
}
h2{
    color:black;
    font-family: 'Play', serif;
    font-weight: 300;
    font-size: 32;
    text-align:left;
    text-decoration: underline;
}
h3{
    color:#ffffff;
    font-family: 'Play', serif;
    font-weight: 400;
    font-size: 24;
    text-align: left;
    text-decoration: underline;
}
p{
    color:rgb(207, 43, 78);
    font-family:'Roboto', serif;
    font-weight: 400;
    font-size: 22;
    text-align: justify;
}
ul li{
    color:rgb(244, 227, 7);
    font-family:'Roboto', serif;
    font-weight: 400;
    font-size: 16;
}
ol li{
    color:rgb(244, 227, 7);
    font-family:'Roboto', serif;
    font-weight: 400;
    font-size: 16;
    list-style-type: upper-roman;
}
img{
    position: center;
    align-content: flex-start;
}
header{
        background-color: rgb(207, 43, 78);
        text-align: center;
}
body{
        background-color:rgb(56, 182, 255);
        max-width: 1200 px;
        height: 375 px;
}
footer{
    background-color: rgb(255, 218, 42);
    text-align: center;
}

.ref {
    Color:#FFFFFF;
    font-family: 'Roboto', bold;
    font-weight: 400;
    font-size: 32;
}

/*font-family: 'Play', sans-serif;
font-family: 'Roboto', sans-serif;*/
